.Row {
    margin-top:10%;
    margin-bottom:10%;
  }
  
  
  
  .Header {
    
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #3c3e33;
    margin-bottom: 17px;
  }
  
  
  
  .Container {
    padding: 30px 10px;
  }
  
  .HomeCol {
    height: 280px;
  }
  
 
  