.Task {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
 
  
  .square {
    color: #616B35;
  }
  
  .square:hover {
    color: #DAE79A;
  }
  
  .squareOutline:hover {
    color: #616B35;
  }